/* repo page */

.repo-section a {
  padding: 1.3rem;
  width: 40%;
  border-radius: .5rem;
  transition: all ease .1s;
  color: white;
  text-align: center;
  text-decoration: none;
}

.repo-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}

.darkmode .repo-section a {
  background-color: rgb(3, 15, 28);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
}

.darkmode .repo-section a:hover {
  transform: translateY(-5px);
  box-shadow: 0px 1px 3px -1px rgb(245, 245, 249);
}

.repo-section a span:first-of-type {
  font-size: 1.5rem;
  font-weight: bold;
  display: block;
}

@media(min-width: 768px) {

  .darkmode .repo-section a {
    margin: 1.5rem;
  }

}

@media(max-width: 768px) {

  .repo-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2.5rem;
  }

  .repo-section a {
    width: 100%;
    margin: 1rem 0;
  }

}