/* repo page */

.lightmode .repo-section a {
    background-color: white;
    border: 1px solid rgba(44, 43, 43, 0.6);
    color: black;
}

.lightmode .repo-section a:hover {
    transform: translateY(-5px);
    box-shadow: 0px 1px 3px -1px rgb(24, 24, 24);
}


@media(min-width: 768px) {

    .lightmode .repo-section a {
        margin: 1.5rem;
    }
}